<html>
<Title>{{site }} {{ title }} {{ page }}</Title>
<div align="justify">
  <table border="0" width="100%">
    <tr>
      <td width="45%">
<b>{{title}}</b> <i>{{section}}</i> {{description}}

      </td>
      <td width="55%">
        <p align="right">
<a href=index.html>Index</a>&nbsp; {{section}}&nbsp; <a href="namas.html">Namas</a>&nbsp;
        <a href="phala.html">Phala Sruti</a>&nbsp;</td>
    </tr>
  </table>
</div>

<hr align=center>