<html lang="en" translate="no">
<meta name="google" content="notranslate">
<Title>{{site }} {{ title }} {{ page }}</Title>
<div align="justify">
  <table border="0" width="100%">
    <tr>
      <td width="45%">
<b>Suprabatham</b>: <i>{{title}}</i> {{description}}

      </td>
      <td width="55%">
        <p align="right">
        <a href=".">Index</a>&nbsp;
        <a href="suprabatham.html">Suprabatham</a>&nbsp;
        <a href="stotram.html">Stotram</a>&nbsp;
        <a href="prapatti.html">Prapatti</a>&nbsp;
        <a href="mangalasasanams.html">Mangalasasanams</a>&nbsp;
        </td>
    </tr>
  </table>
</div>

<hr align=center>
{{ content | safe }}