<html>
<Title>{{site }} {{ title }}</Title>
<H1>{{ title }}</H1>
<font color="red">You are here:</font> <a href=http://www.ibiblio.org/sripedia>SriPedia</a> - <a href=http://www.ibiblio.org/sripedia/ebooks>ebooks</a>
<hr>
{{ content | safe }}