<html lang="en" translate="no">
<head>
<meta name="google" content="notranslate">
<Title>{{site }} {{ title }} {{ page }}</Title>
</head>
<body>
<div align="justify">
  <table border="0" width="100%">
    <tr>
      <td width="45%">
<b>Vishnu Sahsranamam</b>: <i>{{title}}</i> {{description}}

      </td>
      <td width="55%">
        <p align="right">
        <a href=".">Index</a>&nbsp;
        <a href="prolog.html">Prolog</a>&nbsp;
        <a href="namas.html">Namas</a>&nbsp;
        <a href="phala.html">Phala Sruti</a>&nbsp;
        </td>
    </tr>
  </table>
</div>

<hr align=center>
{{ content | safe }}
<hr align=center>
<div align="justify">
  <table border="0" width="100%">
    <tr>
      <td width="45%">
<b>Vishnu Sahsranamam</b>: <i>{{title}}</i> {{description}}

      </td>
      <td width="55%">
        <p align="right">
        <a href=".">Index</a>&nbsp;
        <a href="prolog.html">Prolog</a>&nbsp;
        <a href="namas.html">Namas</a>&nbsp;
        <a href="phala.html">Phala Sruti</a>&nbsp;
        </td>
    </tr>
  </table>
</div>

</body>
</html>